<footer class="footer">
  <small>
<<<<<<< HEAD
    The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
=======
    <%= t "footer.content_html" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.about"), about_path %></li>
      <li><%= link_to t("footer.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "footer.new" %> </a></li>
>>>>>>> Chapter 6
    </ul>
  </nav>
</footer>
